extends layout

block content
  h1 Blackjack
  div(ng-controller ='gameCtrl')#mainContainer.fluid
    div#dealerHand.row.cards
      div.col-md-offset-4.col-md-1
      div(ng-hide='allHandsDone').col-md-1.cards
        img(src ="/images/sized.png")
      div(ng-repeat ="cards in dealerHand" ng-hide = '$index == 1 && !allHandsDone' ng-show= 'allHandsDone').col-md-1.cards
        img(src ="/images/{{cards.imgName}}")
      div(ng-show='allHandsDone').col-md-1.total.center
        |{{dealerScore}}
    div(ng-show ='true')#playerHand.row.cards
      div.col-md-offset-4.col-md-1
      div(ng-repeat ="cards in playerHand" ).col-md-1.cards
        img(src ="/images/{{cards.imgName}}")
      div.col-md-1.total.center
        |{{playerScore}}
    div(ng-show ='true')#split1Array.row.cards
      div.col-md-offset-4.col-md-1
      div(ng-repeat ="cards in split1Hand").col-md-1.cards
        img(src ="/images/{{cards.imgName}}")
      div.col-md-1.total.center
        |{{split1Score}}
    div.row.spacer.cards
      div.gamePlayButtons.col-md-offset-5
        button(id='doubleBtn' ng-click='doubleBtn()' ng-show ='showDoubleBtn').col-md-1 2X
        button(id='splitBtn' ng-click='splitBtn()' ng-show ='showSplitBtn').col-md-1 Split
        button(id='stayBtn' ng-click='stayBtn()' ng-show ='hideStayBtn').col-md-1 Stay
        button(id='hitBtn' ng-click='hitBtn()' ng-show ='hideHitBtn').col-md-1 Hit
        button(id='dealBtn' ng-click='dealBtn()' ng-hide ='hideDealBtn').col-md-1 Deal
    div(ng-show ='true').row.cards
      div.col-md-offset-5.col-md-6.bank
        //|Hi-Low Count: {{hiLowCount}}
      div.col-md-offset-5.col-md-6.bank
        |Bank: {{playersBank}}
      div.col-md-offset-5.col-md-6.bank
        |Bet: {{playerBet}}
    div.rulesLink
      a(href='/rules') Rules