body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-color: #194D1E;
}

.cards {
 margin:10px 0 10px 0;
}



.gameButtons {
    position:fixed;
    bottom: 20px;
}
.spacer{
    margin-bottom: 20px;
}

.rulesLink {
    position:fixed;
    bottom: 20px;
    font-size:20px;
}

.bank{
    font-size: 20px;
    padding-left: 0;
    padding-bottom:10px;
}

h1{
    text-align: center;
    margin-bottom: 30px;
}

.total{
    font-size:17px;

}

.center{
    vertical-align:baseline;
}

#hitBtn, #stayBtn, #dealBtn, #doubleBtn {
    color: #020202;
}